docker.enabled = true

process.executor = 'awsbatch'
//process.queue = 'my-batch-queue'
//process.container = 'https://hub.docker.com/debian:buster-slim'
process.container = 'ubuntu:20.04'
aws.region = 'us-east-1'

// NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
